# Таблица результатов

In [4]:
data

,ФИО,Контест 1,Контест 2,К/р 1,Пересдача к/р 1,Итого
0,Агошков Вячеслав Евгеньевич,997,1192,755,0,2944
1,Ашитков Андрей Тарасович,1000,1489,1990,250,4729
2,Бруттан Мария Вячеславовна,1000,1200,994,1250,4444
3,Дабижа Мирон Олегович,998,1188,1346,250,3782
4,Зайченока Мария,998,1481,983,600,4062
5,Коряжкина Анна Максимовна,1000,1495,2241,0,4736
6,Купреев Павел Павлович,1000,1195,1046,560,3801
7,Меликов Роман Октаевич,1000,1195,800,800,3795
8,Прокопчук Иван Константинович,999,996,740,180,2915
9,Проценко Людмила Александровна,899,1187,788,1000,3874
10,Тимченко Алексей,998,1196,994,0,3188
11,Шаульская Виктория Сергеевна,1000,1496,992,1250,4738
12,Якубенко Дарья Алексеевна,999,633,797,540,2969

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("results.csv", header=0)

In [3]:
data["Итого"] = data.drop("ФИО", axis=1).sum(1).astype("int")