# Таблица результатов

In [7]:
data

,ФИО,Контест 1,Контест 2,К/р 1,Пересдача,Контест 3,Контест 4,Итого
0,Агошков Вячеслав Евгеньевич,997,1192,755,0,1604,901,5449
1,Ашитков Андрей Тарасович,1000,1489,1990,250,1989,1204,7922
2,Бруттан Мария Вячеславовна,1000,1200,994,1250,1598,1295,7337
3,Дабижа Мирон Олегович,998,1188,1346,250,1601,591,5974
4,Зайченока Мария,998,1481,983,600,1598,208,5868
5,Коряжкина Анна Максимовна,1000,1495,2241,0,1603,1293,7632
6,Купреев Павел Павлович,1000,1195,1046,560,1595,899,6295
7,Меликов Роман Октаевич,1000,1195,800,800,1599,708,6102
8,Прокопчук Иван Константинович,999,996,740,180,1200,908,5023
9,Проценко Людмила Александровна,899,1187,788,1000,1596,803,6273
10,Тимченко Алексей,998,1196,994,250,1592,889,5919
11,Шаульская Виктория Сергеевна,1000,1496,992,1250,1396,1185,7319
12,Якубенко Дарья Алексеевна,999,633,797,540,1394,713,5076

In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("results.csv", header=0)

In [6]:
data["Итого"] = data.drop("ФИО", axis=1).sum(1).astype("int")