# Таблица результатов

In [3]:
data.style.set_properties(pd.IndexSlice[19:, :], **{"font-weight": "bold"})

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("results_838.csv", header=0)